
@import url(fontawesome.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900");
body {
    overflow-x: hidden;
    height: 1600px;
    font-family:"Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

#page-wraper {
    background: #4AA0DD no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}


/* Basic */


input,
select,
textarea {
    outline: none;
}

a {
    color: #9FF;
    text-decoration: none;
}

a:hover {
    color: #FF0;
    text-decoration: none;
}

p {
    letter-spacing: 0.5px;
    line-height: 2em;
    color: #fff;
}

h4 {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.5px;
}

img {
    width: 100%;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
    display: inline-block;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.container {
    margin: 0 auto;
}

.top-header {
    margin: 0;
    padding: 0;
}

.main-nav {
    text-align: center;
}

.main-nav li:last-child a {
    border-bottom: 1px solid #69C;
}

.main-nav li {
    display: block;
}

.main-nav li a {
    height: 60px;
    line-height: 60px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    width: 100%;
    transition: all 0.5s;
    border-top: 1px solid #69C;
}

.main-nav li:hover a,
.main-nav li.active a {
    background: #fff;
    color: #2279BD;
}

/* Sidebar Menu */

.menu .image {
    margin-top: 50px;
}

.menu .image img {
    width: 160px;
    height: 160px;
    border-radius: 10%;
    text-align: center;
}

.menu .author-content {
    margin: 20px 0px 40px 0px;
}

.menu .author-content h4 {
    margin-bottom: 0px;
    text-transform: uppercase;
}

.menu .author-content span {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
}

.menu .social-network {
    margin-top: 60px;
}

.menu .social-network ul li {
    margin: 0 3px;
}

.menu .social-network ul li a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    transition: all 0.5s;
}

.menu .social-network ul li a:hover {
    background-color: #fff;
    color: #2279BD;
}

.menu .copyright-text {
    position: relative;
    margin-top: 60px;
}

.menu .copyright-text p {
    border-top: 1px solid rgba(250, 250, 250, 0.1);
    display: inline-block;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    font-size: 13px;
}

.menu:before,
.menu:after {
    content: "";
    display: table;
}

.menu:after {
    clear: both;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu {
    text-align: center;
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu {
    left: 8%;
    -webkit-transition: -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
    -webkit-overflow-scrolling: touch;
    background-color: #2279BD;
    box-sizing: border-box;
    height: 100vh;  
    max-height: 100vh !important;
    max-width: 80vw !important;
    min-width: 45px !important;
    outline: none;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    padding: 0;
    position: fixed !important;
    top: calc(0px);  
    width: 22%;
    will-change: transform;
    z-index: 9999 !important;
}

.menu-toggle {
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    position: fixed;
    right: 25px;
    top: 25px;
}

#menu-toggle {
    z-index: 999;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    color: #2279BD;
    background-color: #fff;
    width: 66px;
    height: 66px;
    line-height: 66px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
}

.menu-close {
    cursor: pointer;
}

#menu-close {
    cursor: pointer;
    text-align: right;
    color: #2279BD;
    background-color: #fff;
    width: 100%;
    height: 66px;
    text-align: center;
    display: inline-block;
    line-height: 66px;
    font-size: 1.3em;
}


/* Section */

.section {
    color: #fff;
    width: 55%;
    right: 10%;
    left: 35%;
    position: relative;
    min-height: 100vh;
    padding-bottom: 60px;
    border-bottom: 3px solid rgba(250, 250, 250, 0.25);
}

.section-heading {
    text-align: left;
    padding: 60px 0 40px 0;
}

.section-heading h2 {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}

.section-heading .line-dec {
    max-width: 500px;
    height: 3px;
    background-color: #fff;
    margin: 20px 0;
}

.section-heading span {
    margin-top: 5px;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
}

/* portfolio */

.portfolio .col-md-6 {
    padding-left: 5px;
    padding-right: 5px;   
}

.portfolio-item {
    margin: 20px 0;
}

.portfolio-container{
    padding: 1em 0;
    float: left;
}
.portfolio-container .title{
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px;
}

.portfolio_content {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.portfolio_content .portfolio_overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.portfolio_content:hover .portfolio_overlay{
    opacity: 1;
}

.portfolio_image{
    width: 100%;
}

.portfolio_details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.portfolio_content:hover .portfolio_details{
    top: 50%;
    left: 50%;
    opacity: 1;
}
.fadeIn-bottom{
    top: 80%;
}
.portfolio_details .table td{
    color:#fff;
    text-align: left;
    font-size: .8em;
}
.portfolio_details .table td:first-child{
    min-width: 51px;
    width: 50px;
}


/* skills */

.skills-row {
    margin-top: 80px;
}
.skill-item {
    border-bottom: 1px solid rgba(250,250,250,0.1);
    margin-bottom: 50px;
    padding-bottom: 50px;
}
.last-skill {
    border-bottom: none;
}
.skills-row span {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #fff;
    color: #1e1e1e;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 700;
    left: 0;
    top: -21px;
    position: absolute;
    z-index: 999;
}
.skills-row h6 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    text-align: right;
    margin-bottom: -10px;
}
.skill-bar {
    width: 70%;
    height: 6px;
    border-radius: 3px;
    background-color: rgba(250,250,250,0.25);
    position: relative;
}
.filled-bar{
    position: absolute;
    z-index: 99;
    height: 6px;
    background-color: #fff;
    border-radius: 3px;
}
.filled-bar.ninety{
    width: 95%;
}
.filled-bar.eighty{
    width: 84%;
}
.filled-bar.seventy{
    width: 74%;
}
.filled-bar.sixty{
    width: 64%;
}
.filled-bar.fifty{
    width: 55%;
}

/* Contact */

section.contact-me {
    border-bottom: none;
}

#contact input {
    background-color: rgba(250,250,250,0.1);
    border: 1px solid rgba(250,250,250,1);
    border-radius: 0px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 14px;
    height: 50px;
    width: 100%;
    padding-left: 15px;
}

#contact input:focus {
    outline: none;
    box-shadow: none;
    color: #fff;
}

#contact textarea {
    background-color: rgba(250,250,250,0.1);
    border: 1px solid rgba(250,250,250,1);
    border-radius: 0px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 14px;
    height: 180px;
    max-height: 220px;
    line-height: 40px;
    width: 100%;
    padding-left: 15px;
}

#contact textarea:focus {
    outline: none;
    box-shadow: none;
}

#contact {
    text-align: center;
}

.contact-section {
    width:100%;
}
.contact-box {
    text-align:left;
}
.contact-box h4 {
    font-size:24px;
}
.contact-box h4:after {
    content:'';
    display:block;
    width:50px;
    height:2px;
    background:#fff;
    margin:12px 0;
}
.contact-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
    background: rgba(250,250,250,0.25);
    border-radius: 10px;
    padding: 30px;
    font-weight: 700;
}
.contact-row i {
    width:55px;
    font-size: 30px;
    display:block;
}
.contact-row i.fa-envelope {
    font-size: 25px;
}
.contact-row p{
    margin:0;
}

.contact-row .tel{
    color: #fff;
}
.scroll-top{
    width: 40px;
    height: 40px;
    background:red;
}

.scroll_top {
    display: none;
    position: fixed;
    bottom: 17px;
    right: 0;
    z-index: 1;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
@media screen and (max-width: 1680px) {
    .menu {
        left: 4%;
    }
    
    .section {
        color: #fff;
        width: 65%;
        right: 5%;
        left: 30%;
    }
}
@media screen and (max-width: 945px) and (min-width: 846px) {
    .portfolio_details .table td{
        font-size: .7em;
    }
}

@media screen and (max-width: 1280px) {
    .menu {
        left: 0%;
    }
}

.menu .container {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 1280px) and (min-width: 846px) {
    .menu {
        width: 25%;
    }
}

#menu-toggle,
#menu-close {
    display: none;
}  

@media screen and (max-width: 845px) {        
    #menu-toggle,
    #menu-close {
        display: inline-block;
    }    
    
    .menu {        
        width: 320px;
        -webkit-transform: translateX(-100%) !important;
        transform: translateX(-100%) !important;
        transition: -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
        transition: transform 233ms cubic-bezier(0, 0, 0.21, 1);
        transition: transform 233ms cubic-bezier(0, 0, 0.21, 1), -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
    }
    
    .menu .image {
        margin-top: 40px;        
    }
    
    .menu .image img {
        width: 120px;
        height: 120px;
    }
    
    .menu .author-content {
        margin: 20px 0px 40px 0px;
    }
    
    .menu .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .menu.open {
        display: inline-block;
        -webkit-transform: translateX(0) !important;
        transform: translateX(0) !important;
    }
    
    .responsive-nav {
        display: inline-block;
    }
    .section {
        width: 94%;
        right: 3%;
        left: 3%;
    }
}